#title {
    color: red;
    font-family: 'Oswald', sans-serif;
    font-size: 5em;
}

body {
    text-align: center;
}

#gameScreen{
	position: relative;
	background-color: silver;
	overflow: hidden;
	margin: 0px auto;
}

.gameObject{
	position: absolute;
	z-index: 1;
}

#output {
    color: red;
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    margin: 20px;
}

#highScore {
    color: red;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    margin: 20px;
}
