body {
    background-color: #f7e0a1;
}

#background {
    background-color: #f6ca5e;
    position: absolute;
    top: 0px;
    left: 5%;
    width: 90%;
    height: 1200px;
    z-index: 0;
    margin: 100px auto;
    opacity: .75;
}

#leftBorder {
    background-color: #262242;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20%;
    height: 100%;
    z-index: 1;
    margin: 0px;
    opacity: .75;
}

#title {
    background-color: #e57c1f;
    position: absolute;
    top: 125px;
    left: 40%;
    width: 50%;
    z-index: 2;
    opacity: .75;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 5vw;
    text-align: left;
    text-indent: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#links {
    background-color: #91a17b;
    position: absolute;
    top: 175px;
    left: 5%;
    width: 20%;
    z-index: 3;
    opacity: .75;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1.5vw;
    text-align: right;
    text-indent: 100px;
    padding-bottom: 100px;
}

#overview {
    background-color: white;    
    position: absolute;
    right: 0px;
    top: 300px;
    width: 60%;
    color: #262242;
    opacity: .75;
    z-index: 4;
    padding: 5%;
    font-size: 1.7em;
}

#image {
    background-color: #e57c1f;
    opacity: .75;
    z-index: 5;
    position: absolute;
    top:800px;
    left: 200px;
    padding: 2.5%;
}

a, h2 {
    margin-right: 100px;
    color: white;
    text-decoration: none;
}

a:hover, #current {
    font-size: 3vw;
    /*margin-right: 50px;*/
    transition: .9s;
    color: #e57c1f;
}

h3 {
    font-size: 2em;
    font-family: 'Chakra Petch', sans-serif;
}

#footer {
    margin: 10px auto;
    position: absolute;
    top:1350px;
    width: 100%;
    text-align: center;
    color: #093254;
}