body {
    background-color: #f7e0a1;
}

#background {
    background-color: #f6ca5e;
    position: absolute;
    top: 0px;
    left: 5%;
    width: 90%;
    height: 125%;
    z-index: 0;
    margin: 100px auto;
    opacity: .75;
}

#leftBorder {
    background-color: #262242;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20%;
    height: 100%;
    z-index: 1;
    margin: 0px;
    opacity: .75;
}

#title {
    background-color: #e57c1f;
    position: relative;
    float: right;
    top: 70px;
    margin-right: 12%;
    width: 45%;
    z-index: 2;
    opacity: .75;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 5vw;
    text-align: left;
    padding: 2% 4%;
}

#links {
    background-color: #91a17b;
    position: relative;
    float: left;
    top: 175px;
    left: 5%;
    width: 20%;
    z-index: 3;
    opacity: .75;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1.5vw;
    text-align: right;
    padding-bottom: 10%;
}

#overview {
    background-color: white;    
    position: relative;
    float: right;
    clear: right;
    right: 0px;
    top: 100px;
    width: 60%;
    color: #262242;
    opacity: .75;
    z-index: 4;
    padding: 5%;
    font-size: 1.7vw;
    min-height: 500px;
}

#image {
    background-color: #e57c1f;
    opacity: .75;
    z-index: 5;
    position: relative;
    float: left;
    clear: right;
    width: 650px;
    padding: 2.5%;
    text-align: center;
}

a, h2 {
    margin-right: 27%;
    color: white;
    text-decoration: none;
}

a:hover, #current {
    font-size: 1.7vw;
    transition: .9s;
    color: #e57c1f;
}


h3 {
    font-size: 2vw;
    font-family: 'Chakra Petch', sans-serif;
}

#footer {
    margin: 100px auto;
    position: relative;
    clear: both;
    width: 100%;
    text-align: center;
    color: #093254;
}

#source {
    color: #e57c1f;
    float: right;
}

#source:hover {
    text-decoration: underline;
}

iframe {
    border: 0px;
}

blockquote {
    background-color: #262242;
    color: white;
    opacity: .75;
    padding: 5px;
}